<div class= "container">
    <h2> listing </h2>
    <div class="col-md-6">
         <%= link_to image_tag("m_1216110a.jpg", alt: "") %>
         <p>A bedroom apartment villa</p>
         <p> price: $20</p>
         <p> on braod street Marchester,uk </p></div>
         <div class="col-md-6">
           <%= link_to image_tag("a8095b57-8c34-4b09-89ef-5c61b1f91282.c10.jpg", alt: "") %>
         <p>A bedroom apartment villa</p>
         <p> price: $20</p>
         <p> on braod street Marchester,uk </p>
    </div>
</div>
</div>

<h4><%= link_to "View Rooms", listings_path %></h4> 
   <h4><%= link_to "Booked Rooms", '#' %></h4>