<div class="center jumbotron">
    <h2> Earn money as Umbee Host</h2>
    <h3> Thanking you in advance as you decide to become one of our host</h3>
    <p> From saving for home repairs to taking a dream trip, hosts use extra income to fund their passions.</p>
    <%= link_to "Start Hosting", '#', class: "btn btn-lg btn-danger" %>
</div>
</div>