
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Umbee<span>logo</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Umbee © 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Elphinstone Road</span>Aberdeen, Scotland</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+234736793910</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@Umbee.com">support@Umbee.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					We aim to give exceptional customer service and alos provide hospitable home services
				</p>

				<div class="footer-icons">
 				 <ul>
      <li class="fa fa-facebook"><%= link_to image_tag("default-facebook.png", alt: ""), 'http://www.facebook.com/', id: "" %></li>
      <li class="fa fa-linkedin" ><%= link_to image_tag("Linkedin_Icon.png", alt: ""),'http://www.linkedin.com/', id: "" %></li>
      <li class="fa fa-twitter"><%= link_to image_tag("default-twitter.png", alt: ""), 'http://www.twitter.com/', id: "" %></li>
				</ul>
				</div>
			</div>
		</footer>